.box {
    margin-top: 15px;
    padding: 15px;
    background-color: #594cee;
    border-radius: 15px;
}

.temperatura {
    text-align: center;
    margin: 15px;
}

.descricao {
    text-align: center;
    margin-top: 35px;
}

.weather-icon {
    display: block;
    margin: 0 auto;
    max-width: 100px;
    height: auto;
}

.weather-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.temperature-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.temperature-block {
    text-align: center;
}

.icon-wrapper {
    margin: 0 15px; /* Adiciona um espaçamento entre o ícone e as temperaturas */
}

.min-temperature, .max-temperature {
    margin: 0;
}

.ff-fira {
    margin: 0;
}
