.box{
    margin-top: 15px;
    padding: 15px;
    background-color: #594cee;
    border-radius: 15px;
}
.temperatura{
    text-align: center;
    margin: 15px;
}

.descricao{
    text-align: center;
}
.weather-icon {
    display: block; /* Garante que a imagem seja exibida como um bloco */
    margin: 0 auto; /* Centraliza a imagem horizontalmente */
    max-width: 100px; /* Define a largura máxima da imagem */
    height: auto; /* Mantém a proporção da imagem */
}